Contact
<!--create a form -->
<form action="/" method = "POST">
<input type="text" value = "just test a form" name="text.forBodyparser">
<input type="password" value="password" placeholder="type your password" name="password.forBodyparser">
</form>